.header-wrapper {
  background-color: white;
  padding: 5px 0px;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 18px 36px -18px rgba(0, 0, 0, 0.3),
    0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.chats-body {
  padding: 10px 0px;
  padding-top: 100px;
}

.chats-body .header,
.chats-body .status-bar {
  padding: 0px 20px;
}

.chats-body {
  background-image: url("../images/chat-background.png");
  min-height: 10000vh;
}

.chat__write--container {
  position: fixed;
  bottom: 0px;
  margin: 0 auto;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fcfcfc;
  padding: 0px 20px;

  /* box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025); */
}

.chat__write {
  bottom: 0px;
  width: 100%;
  border-radius: 0;
  padding: 20px 60px;
  border: none;
  font-size: 14px;
}

.chat__icon-left {
  position: absolute;
}
.chat__icon-right {
  position: absolute;
  right: 10px;
}

.chat__write:focus {
  outline: none;
}
.chat__write:focus ~ .chat__icon {
  opacity: 0;
}
.chat__icon {
  font-size: 23px;
  transition: opacity 0.3s ease-in-out;
}

.chat__write i {
  font-size: 22px;
}

.chat__write-column:nth-child(2) {
  width: 80%;
}

.chat__write-column input {
}

.chat-screen .chat__messages {
  border-top: 1px solid #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
  padding-top: 30px;
}

.chat__messages .chat__timestamp {
  background-color: white;
  font-size: 12px;
  padding: 5px 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
  text-transform: uppercase;
  font-weight: 700;
}

.message {
  display: flex;
  /* align-items: flex-start; */
  /* width: 50%; */
  margin-bottom: 10px;
}

.incoming-message {
  align-self: flex-start;
}

.incoming-message img {
  width: 30px;
  border-radius: 15px;
  margin-right: 15px;
}

.sent-message {
  align-self: flex-end;
}

.message .message__bubble {
  background-color: white;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  padding: 10px 20px;
  border-radius: 20px;
  color: white;
  font-weight: 600;
  display: block;
}

.incoming-message .message__author {
  margin-top: 10px;
  display: block;
  font-weight: 600;
  font-size: 12px;
}

.incoming-message .message__bubble {
  border-bottom-left-radius: 0px;
  background-image: linear-gradient(to right, #7b4397, #dc2430);
}

.sent-message .message__bubble {
  border-bottom-right-radius: 0px;
  background-image: linear-gradient(to left, #00c6ff, #0072ff);
}
