@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");
@import "reset.css";
@import "status-bar.css";
@import "header.css";
@import "nav-bar.css";
@import "friend.css";
@import "friends.css";
@import "find.css";
@import "more.css";
* {
  box-sizing: border-box;
  /* 어떤 기준으로 박스의 크기를 계산할지 정하는 속성 https://www.codingfactory.net/10630 */
}

body {
  background-color: white;
  padding: 10px 20px;
  color: #020202;
  height: 100000px;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
